# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage

# Next.js
.next/
out/
dist/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Large media files (optional, if you want to use CDN)
# public/assets/*.mp4
# public/assets/*.MOV

# IDE
.idea
.vscode
*.swp
*.swo
